/**
 * Trabalho Realizado por Micael Eid (2019112744), Nuno Almeida (2019121655) e Renato Craveiro (2018011392)
 * No âmbitio da Unidade Curricular de Linguagens Script (1º Ano - 2º Semestre)
 * ISEC - Licenciatura em Engenharia Informática - Ano Letivo 2021/2022  
 */

/*.table - class div pai de board e usedWords ocupa 90% do espaço em largura.*/
.table {
  display: flex;
  width: 90%;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*.board - class div que contém as letras e palavras a encontrar. tem altura e largura de 600px, é apresentada em grelha (para as letras) 
tem espaçamento de 2.4px entre cada elemento, margem à direita de 20px e ocupa 2 flex (no caso 2/3 do espaço de .table, pois .usedWords ocupa 1 flex)*/
.board {
  height: 600px;
  width: 600px;

  display: grid;

  gap: 2.4px;

  margin-right: 20px;
  flex: 2;
}

/*.usedWords - class div que contém as palavras a encontrar.Ocupa 1 flex (no caso 1/3 do espaço de .table, pois .board ocupa 2 flex)*/
.usedWords {
  flex: 1;
  flex-direction: column;
  margin: 0px 0 30px 0;
  padding: 10px 15px 5px 15px;
  background-color: rgb(236, 233, 233);
  color: black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 10px;
  min-width: 9px;
  border-radius: 10px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  white-space: pre-line;
}

.foundWord {
  text-decoration: line-through;
}