
  
  .letter{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;;
  }

  .letter:hover {
    background-color: aquamarine;
    color: black;

  }