#panel-control {
  width: 80%;
  /* height: 250px; */
  /* box-sizing: border-box; */
  padding: 5px 5px 5px 5px; /*top, right, bottom, left*/
  margin: 0px 0 20px 0;
  background-color: rgb(236, 233, 233);
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.button {
  width: 15%;
  height: 3em;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px; /*top, right, bottom, left*/
  margin: 0px 0px 2px 0px;
  background-color: #8ed0f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  float: right;
  margin-top: -50px;
  margin-bottom: 2;

  font-size: 1em;
  font-weight: 450;
  text-align: center;
  text-decoration: none;

  transition-duration: 0.4s;
  cursor: pointer;
  transition: 0.2s;
}

.play:hover {
  background-color: #4bb2e2f1;
  color: rgb(0, 0, 0);
  transform: scale(1.1); /* Efeito zoom no hover*/
}

.play:disabled {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: inherit;
  transform: scale(1);
}

#btLevel {
  width: 25%;
  height: 3em;
  box-sizing: border-box;
  padding: 0px 3px 0px 3px; /*top, right, bottom, left*/
  background-color: #8ed0f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  float: left;
  margin-bottom: 2px;
  margin-top: 6px;
  font-weight: 450;

  transition-duration: 0.4s;
  cursor: pointer;
  transition: 0.2s;
}

#btLevel:hover {
  background-color: #4bb2e2f1;
  color: rgb(0, 0, 0);
  transform: scale(1.1); /* Efeito zoom no hover*/
}

#gameinfo{
  width: 100%;
  background-color: #8ed0f7;
}

/*TIMER*/

#panel-control .timer.gameStarted {
  width: 33%;
  box-sizing: border-box;
  padding: 0px 1px 1px 5px; /*top, right, bottom, left*/
  margin: 1em 0em 0.5em 1em;
  display: flex;
  flex-direction: row;
  gap: 5px;

  float: left;

  background-color: rgb(236, 233, 233);
  border-radius: 5px;
}

#panel-control .timer:not(.gameStarted) {
  width: 33%;
  box-sizing: border-box;
  padding: 0px 1px 1px 5px; /*top, right, bottom, left*/
  margin: 1em 0em 0.5em 1em;
  display: flex;
  flex-direction: row;
  gap: 5px;

  float: left;

  background-color: rgb(236, 233, 233);
  border-radius: 5px;
}

/*Pontuação Top*/

#panel-control .points-top.gameStarted {
  width: 33%;
  box-sizing: border-box;
  padding: 0px 1px 1px 5px; /*top, right, bottom, left*/
  margin: -2.5em 0em 0.5em 1em;
  display: flex;
  flex-direction: row;
  gap: 5px;

  float: right;
  background-color: rgb(236, 233, 233);
  border-radius: 5px;
}

#panel-control .points-top:not(.gameStarted) {
  width: 33%;
  box-sizing: border-box;
  padding: 0px 1px 1px 5px; /*top, right, bottom, left*/
  margin: -2.5em 0em 0.5em 1em;
  display: flex;
  flex-direction: row;
  gap: 5px;

  float: right;

  background-color: rgb(236, 233, 233);
  border-radius: 5px;
}

/*Pontuação*/

#panel-control .point.gameStarted {
  width: 33%;
  box-sizing: border-box;
  padding: 0px 1px 1px 5px; /*top, right, bottom, left*/
  margin: 1em 0em 0.5em 1em;
  display: flex;
  flex-direction: row;
  gap: 5px;

  float: left;

  background-color: rgb(236, 233, 233);
  border-radius: 5px;
}

#panel-control .point:not(.gameStarted) {
  width: 33%;
  box-sizing: border-box;
  padding: 0px 1px 1px 5px; /*top, right, bottom, left*/
  margin: 1em 0em 0.5em 1em;
  display: flex;
  flex-direction: row;
  gap: 5px;

  float: left;

  background-color: rgb(236, 233, 233);
  border-radius: 5px;
};
