#panel-control{
    width: 80%;
    /* height: 250px; */
    box-sizing: border-box;
    padding: 5px 5px 5px 5px; /*top, right, bottom, left*/
    margin: 0px 0 20px 0;
    background-color: rgb(236, 233, 233);
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
      
  }
  
.button {
    width: 15%;
    height: 4em; 
    box-sizing: border-box;
    padding: 0px 0px 0px 0px; /*top, right, bottom, left*/
    margin: 0px 0px;
    background-color: #8ed0f7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  
  
  
    float:right;
    margin-top: -45px;
    margin-bottom: 2;

 
    
    font-size: 1em;
    font-weight: 450;
    text-align: center;
    text-decoration: none;

    transition-duration: 0.4s;
    cursor: pointer;
    transition: .2s;
  }


.play:hover {
    background-color: #4bb2e2f1;
    color: rgb(0, 0, 0);
    transform: scale(1.1); /* Efeito zoom no hover*/
  }

#play:disabled {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: inherit;
  }

#btLevel{
  width: 25%;
  height: 3em; 
  box-sizing: border-box;
  padding: 0px 3px 0px 3px; /*top, right, bottom, left*/
  margin: 0px 0px;
  background-color: #8ed0f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  float: left;
  font-weight: 450;
    
}

#panel-control .list-item.gameStarted {
  width: 33%;
  box-sizing: border-box;
  padding: 0px 1px 1px 5px; /*top, right, bottom, left*/
  margin: 5px 0px;
  display:flex;
  flex-direction: row;
  gap: 5px;

  background-color: #8ed0f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);

 
  }
#panel-control .list-item:not(.gameStarted) {
    display: none;
  }

  /*Config Texto e number do Timer*/
  #tmpJ{
    color: black;
  }

  #gameTime{
    font-variant-numeric: tabular-nums;
    font-weight: 450;
    margin: 0px 0px;
  }

  /*Config Texto e number do pontuação top*/
  #pntT{
    color: black;
  }

  #pointsTop{
    font-variant-numeric: tabular-nums;
    font-weight: 450;
    margin: 0px 0px;
  }

  /*Config Texto e number do points*/
  #pnt{
    color: black;
  }

  #points{
    font-variant-numeric: tabular-nums;
    font-weight: 450;
    margin: 0px 0px;
  }
